@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  /* Buttons */
  .btn {
    @apply px-6 py-2 border border-transparent rounded-full flex justify-center items-center gap-2 text-primary;
  }

  .btn-primary {
    @apply bg-[#CAE138];
  }

  .btn-outline {
    @apply border border-gray-300;
  }

  .btn-danger {
    @apply bg-[#f36a6a4b];
  }

  /* Texts */
  .text-primary {
    @apply text-[#3B3E44] !important;
  }

  /* Forms */
  .field-wrap {
    @apply flex flex-col space-y-2;
  }

  .input-field {
    @apply border border-[#DCDCDC] outline-none px-4 py-2 rounded-full;
  }
}
